# Student Loan Risk with Deep Learning

In [59]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student_loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [60]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/mbc/ai/m6/datasets/student_loans.csv"


# Review the DataFrame
df = pd.read_csv(file_path)
df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [61]:
# Review the data types associated with the columns
df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [62]:
# Define the target set y using the credit_ranking column
y = df['credit_ranking']

# Display a sample of y
y[:5].values

array([5, 5, 5, 6, 5])

In [63]:
# Define features set X by selecting all columns but credit_ranking
X = df.copy().drop(columns='credit_ranking')

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [64]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [65]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Scale both the training and testing data from the features dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [66]:
# Define the the number of inputs (features) to the model
number_inputs = 11

# Review the number of features
number_inputs

11

In [67]:
# Define the number of neurons in the output layer
number_classes_output_layer = 1

number_classes_output_layer

1

In [68]:
# Define the number of hidden nodes for the first hidden layer
number_hidden_nodes_first_layer = 6

# Review the number hidden nodes in the first layer
number_hidden_nodes_first_layer

6

In [69]:
# Define the number of hidden nodes for the second hidden layer
number_hidden_nodes_second_layer = 3

# Review the number hidden nodes in the second layer
number_hidden_nodes_second_layer

3

In [70]:
# Create the Sequential model instance
neuron = Sequential()

In [71]:
# Add the first hidden layer
neuron.add(Dense(units=number_hidden_nodes_first_layer, input_dim=number_inputs, activation="relu"))

In [72]:
# Add the second hidden layer
neuron.add(Dense(units=number_hidden_nodes_second_layer, activation="relu"))

In [73]:
# Add the output layer to the model specifying the number of output neurons and activation function
neuron.add(Dense(units=number_classes_output_layer, activation="linear"))

# Display the Sequential model summary
neuron.summary()

### Step 2: Compile and fit the model using the `mse` loss function, the `adam` optimizer, and the `mse` evaluation metric.

In [74]:
# Compile the Sequential model
neuron.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [75]:
# Fit the model using 50 epochs and the training data
neuron.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 0s 987us/step - loss: 31.1844 - mse: 31.1844
Epoch 2/50
38/38 [==============================] - 0s 1ms/step - loss: 27.6617 - mse: 27.6617
Epoch 3/50
38/38 [==============================] - 0s 1ms/step - loss: 24.2193 - mse: 24.2193
Epoch 4/50
38/38 [==============================] - 0s 1ms/step - loss: 20.7927 - mse: 20.7927
Epoch 5/50
38/38 [==============================] - 0s 2ms/step - loss: 17.5024 - mse: 17.5024
Epoch 6/50
38/38 [==============================] - 0s 2ms/step - loss: 14.6529 - mse: 14.6529
Epoch 7/50
38/38 [==============================] - 0s 1ms/step - loss: 12.3023 - mse: 12.3023
Epoch 8/50
38/38 [==============================] - 0s 1ms/step - loss: 10.3401 - mse: 10.3401
Epoch 9/50
38/38 [==============================] - 0s 957us/step - loss: 8.5992 - mse: 8.5992
Epoch 10/50
38/38 [==============================] - 0s 950us/step - loss: 7.0297 - mse: 7.0297
Epoch 11/50
38/38 [==============================] - 0s 977us/step - loss: 5.6967 - mse: 5.6967
Epoch 12/50
38/38 [==============================] - 0s 926us/step - loss: 4.6136 - mse: 4.6136
Epoch 13/50
38/38 [==============================] - 0s 966us/step - loss: 3.7967 - mse: 3.7967
Epoch 14/50
38/38 [==============================] - 0s 1ms/step - loss: 3.2014 - mse: 3.2014
Epoch 15/50
38/38 [==============================] - 0s 945us/step - loss: 2.7816 - mse: 2.7816
Epoch 16/50
38/38 [==============================] - 0s 942us/step - loss: 2.4758 - mse: 2.4758
Epoch 17/50
38/38 [==============================] - 0s 942us/step - loss: 2.2535 - mse: 2.2535
Epoch 18/50
38/38 [==============================] - 0s 1ms/step - loss: 2.0706 - mse: 2.0706
Epoch 19/50
38/38 [==============================] - 0s 1ms/step - loss: 1.9255 - mse: 1.9255
Epoch 20/50
38/38 [==============================] - 0s 941us/step - loss: 1.8062 - mse: 1.8062
Epoch 21/50
38/38 [==============================] - 0s 980us/step - loss: 1.7075 - mse: 1.7075
Epoch 22/50
38/38 [==============================] - 0s 1ms/step - loss: 1.6161 - mse: 1.6161
Epoch 23/50
38/38 [==============================] - 0s 1ms/step - loss: 1.5415 - mse: 1.5415
Epoch 24/50
38/38 [==============================] - 0s 2ms/step - loss: 1.4675 - mse: 1.4675
Epoch 25/50
38/38 [==============================] - 0s 2ms/step - loss: 1.4041 - mse: 1.4041
Epoch 26/50
38/38 [==============================] - 0s 2ms/step - loss: 1.3488 - mse: 1.3488
Epoch 27/50
38/38 [==============================] - 0s 2ms/step - loss: 1.2936 - mse: 1.2936
Epoch 28/50
38/38 [==============================] - 0s 2ms/step - loss: 1.2456 - mse: 1.2456
Epoch 29/50
38/38 [==============================] - 0s 1ms/step - loss: 1.1990 - mse: 1.1990
Epoch 30/50
38/38 [==============================] - 0s 989us/step - loss: 1.1562 - mse: 1.1562
Epoch 31/50
38/38 [==============================] - 0s 937us/step - loss: 1.1191 - mse: 1.1191
Epoch 32/50
38/38 [==============================] - 0s 1ms/step - loss: 1.0826 - mse: 1.0826
Epoch 33/50
38/38 [==============================] - 0s 1ms/step - loss: 1.0490 - mse: 1.0490
Epoch 34/50
38/38 [==============================] - 0s 998us/step - loss: 1.0175 - mse: 1.0175
Epoch 35/50
38/38 [==============================] - 0s 986us/step - loss: 0.9878 - mse: 0.9878
Epoch 36/50
38/38 [==============================] - 0s 1ms/step - loss: 0.9588 - mse: 0.9588
Epoch 37/50
38/38 [==============================] - 0s 1ms/step - loss: 0.9294 - mse: 0.9294
Epoch 38/50
38/38 [==============================] - 0s 2ms/step - loss: 0.9042 - mse: 0.9042
Epoch 39/50
38/38 [==============================] - 0s 2ms/step - loss: 0.8792 - mse: 0.8792
Epoch 40/50
38/38 [==============================] - 0s 1ms/step - loss: 0.8550 - mse: 0.8550
Epoch 41/50
38/38 [==============================] - 0s 990us/step - loss: 0.8323 - mse: 0.8323
Epoch 42/50
38/38 [==============================] - 0s 987us/step - loss: 0.8118 - mse: 0.8118
Epoch 43/50
38/38 [==============================] - 0s 946us/step - loss: 0.7923 - mse: 0.7923
Epoch 44/50
38/38 [==============================] - 0s 983us/step - loss: 0.7733 - mse: 0.7733
Epoch 45/50
38/38 [==============================] - 0s 996us/step - loss: 0.7551 - mse: 0.7551
Epoch 46/50
38/38 [==============================] - 0s 944us/step - loss: 0.7380 - mse: 0.7380
Epoch 47/50
38/38 [==============================] - 0s 938us/step - loss: 0.7214 - mse: 0.7214
Epoch 48/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7066 - mse: 0.7066
Epoch 49/50
38/38 [==============================] - 0s 976us/step - loss: 0.6919 - mse: 0.6919
Epoch 50/50
38/38 [==============================] - 0s 954us/step - loss: 0.6761 - mse: 0.6761

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [76]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = neuron.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.6531 - mse: 0.6531 - 90ms/epoch - 7ms/step
Loss: 0.6530600786209106, Accuracy: 0.6530600786209106

### Step 4: Save and export your model to an HDF5 file, and name the file `student_loans.h5`.

In [77]:
# Set the model's file path
file_path = Path("saved_models/student_loans.h5")

# Export your model to an HDF5 file
neuron.save(file_path)

/Users/samkim/anaconda3/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [78]:
# Set the model's file path
file_path = Path("saved_models/student_loans.h5")

# Load the model to a new object
neuron_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data.

In [79]:
# Make predictions on the testing data
predictions = neuron_imported.predict(X_test_scaled).round().astype("int32")

13/13 [==============================] - 0s 816us/step

### Step 3: Create a DataFrame to compare the predictions with the actual values.

In [80]:
# Create a DataFrame to compare the predictions with the actual values
results = pd.DataFrame({"predictions": predictions.ravel(), "actual": y_test})

### Step 4: Display a sample of the DataFrame you created in step 3.

In [81]:
# Display sample data
results.head(10)

      predictions  actual
75              6       5
1283            4       6
408             5       6
1281            6       6
1118            7       6
1143            6       6
1215            6       6
181             5       5
1186            7       5
1252            5       5